.font1 {
  font-size: 22px;
}
.font2 {
  font-size: 20px;
}
.font3 {
  font-size: 18px;
}
.center {
  display: flex;
  justify-content: center;
}
.point {
  cursor: pointer;
}
.link{
  color: #2360D8;
  text-decoration-line: underline;
  cursor: pointer;
}


.submit {
  width: 80px;
}
nav {
  padding: 20px 10% 10px;
  display: flex;
  justify-content: space-between;
}
nav a,
nav a:hover {
  text-decoration: none;
  color: unset;
}
nav img {
  width: 200px;
  height: 57px;
}
nav ul {
  display: flex;
  list-style: none;
  width: 350px;
}
.underline {
  top: 58px;
  /* width: 73px;
  right: calc(10vw + 220px); */
  height: 4px;
  background-color: #31b8fa;
  position: absolute;
  transition: right 0.3s ease;
}
.home-nav {
  width: 73px;
  right: calc(10vw + 220px);
}
.about-nav {
  right: calc(10vw + 115px);
  width: 75px;
}
.log-nav {
  right: calc(9vw);
  width: 85px;
}
.nav-user:hover .nav-dropdown {
  display: block;
}
.nav-user {
  position: absolute;
  right: 5vw;
  font-size: 1.5em;
}
.nav-user svg {
  padding-left: 8px;
  position: absolute;
  color: #31b8fa;
  top: 5px;
}
nav ul li {
  display: block;
  height: 70px;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 20px;
}
nav ul li:nth-child(3) {
  padding-left: 2rem;
}
nav ul li svg {
  padding-left: 5px;
  position: absolute;
  color: #31b8fa;
  top: 23px;
}
.nav-profile-pic {
  /* padding-left:  */
  position: absolute;
  left: 10.2vw;
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
}
.nav-dropdown {
  display: none;
  margin-top: 5px;
  position: absolute;
}
.nav-dropdown ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  border: 3px solid rgb(129, 129, 129);
  border-radius: 5%;
  margin-left: 1vw;
}
.nav-dropdown ul li {
  text-align: center;
  font-size: 0.83em;
  height: auto;
  padding: 3px 0 !important;
  border-top: 2px solid rgb(161, 161, 161);
  width: 100%;
  background-color: rgb(248, 248, 248);
}
.nav-dropdown ul li:nth-child(1) {
  border: none;
}
.nav-dropdown ul li:hover {
  background-color: rgb(236, 236, 236);
}
.checkmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.input {
  padding: 12px 10px;
  border: 2px solid #71b0d3;
  box-sizing: border-box;
  box-shadow: 3px 3px 0px #77b7db;
  border-radius: 4px;
  font-size: 20px;

}
.input:focus{
  outline: none;
  box-shadow: 6px 6px 2px #5E9ABB;
  border: 3px solid #5E9ABB;
}
.fl-between{
  display: flex;
  justify-content: space-between;
}