*, p, div {
  padding: 0;
  margin: 0;
}
a, a:hover{
    text-decoration: unset;
    color: unset;
}
.admin-nav {
  background: rgba(56, 64, 67, 0.76);
  border: 7px solid #31b8fa;
  box-sizing: border-box;
  width: 380px;
  height: 100vh;
  font-size: 24px;
  color: white;
  padding-top: 30px;
}
.admin-nav img {
  width: 80%;
  height: 80px;
}
.admin-nav ul {
  width: 100%;
  list-style: none;
  margin-top: 40px;
}
.admin-nav ul li {
  width: 100%;
  text-align: center;
  padding: 6px 0;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.admin-nav ul li:hover{
    background: #c4c4c4;
    color: #5c6264;
}
.admin-nav ul .active {
  background: #c4c4c4;
  color: #5c6264;
  font-weight: bold;
}
.topPanel{
    width: 100%;
    background: #31B8FA;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}
.userBox{
    background-color: white;
    padding: 10px;
    display: inline-block;
}
.heading{
    font-size: 25px;
  }
.mainBox{
    padding: 30px 10% 0;
}
.infoBox {
    height: 75px;
    padding: 0 10px;
    display: inline-flex;
    column-gap: 10px;
    align-items: center;
    font-size: 33px;
}
.infoBoxesBox div{
    margin: 10px 20px 30px 0;
}
.adm-input{
    -webkit-appearance: none;
    background-color: unset;
    outline: none !important;
    border: none;
}